{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if form_type is defined and form_type == 'horizontal' %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}:
    {% if required %}
        &nbsp;<span class="required" title="To pole jest wymagane">*</span>
    {% endif %}
    </label>
{% endspaceless %}
{% endblock form_label %}

{% block choice_widget_collapsed %}
{{ parent() }}
{% spaceless %}
    {% if attr.help is defined %}
        <span class="help-inline">{{ attr.help|trans({}, translation_domain)|raw }}</span>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget_collapsed %}
