{% extends '::base.html.twig' %}

{% block body %}

<div class="jumbotron subhead">
  <div class="container">
      <h1>Informacje na temat mieszkania</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

    <form action="{{ path('details', {slug: calc_slug}) }}" class="form-horizontal" method="post" novalidate>
          {{ form_start(form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 9}) }}

          {% if form.vars.errors|length %}
              <div class="alert alert-danger">
                  <h4>Nie wszystko jest w porządku</h4>
                  {{ form_errors(form) }}
              </div>
          {% endif %}

          <legend>Wymiary mieszkania</legend>
          {{ form_row(form.area) }}
          <div style="display:none">
              {{ form_row(form.building_length) }}
              {{ form_row(form.building_width) }}
              {{ form_row(form.number_floors) }}
          </div>
          {{ form_row(form.floor_height) }}
          {{ form_row(form.number_heated_floors) }}
            <div id="whats_unheated" style="display:none">
                {{ form_row(form.whats_unheated) }}
            </div>

          <legend>Sąsiedztwo</legend>
          {{ form_row(form.apartment.number_external_walls) }}
          {{ form_row(form.apartment.number_unheated_walls) }}
          {{ form_row(form.apartment.whats_over) }}
          <div id="ceiling_isolation_layer" style="display:none">
              {{ form_row(form.highest_ceiling_isolation_layer) }}
          </div>
          {{ form_row(form.apartment.whats_under) }}
          <div id="floor_isolation_layer" style="display:none">
              {{ form_row(form.lowest_ceiling_isolation_layer) }}
          </div>

            <legend>Ściany zewnętrzne</legend>
            {{ form_row(form.walls[0].construction_layer.material) }}
            {{ form_row(form.walls[0].construction_layer.size) }}

            {{ form_row(form.walls[0].has_another_layer) }}
            <div id="wall_outside_layer" style="display:none">
                {{ form_row(form.walls[0].outside_layer.material) }}
                {{ form_row(form.walls[0].outside_layer.size) }}
            </div>
            {{ form_row(form.walls[0].has_isolation_inside) }}
            <div id="wall_isolation_layer" style="display:none">
                {{ form_row(form.walls[0].isolation_layer.material) }}
                {{ form_row(form.walls[0].isolation_layer.size) }}
            </div>
            {{ form_row(form.walls[0].has_isolation_outside) }}
            <div id="wall_extra_isolation_layer" style="display:none">
                {{ form_row(form.walls[0].extra_isolation_layer.material) }}
                {{ form_row(form.walls[0].extra_isolation_layer.size) }}
            </div>

          <legend>Okna i drzwi</legend>
          {{ form_row(form.number_doors) }}
          {{ form_row(form.doors_type) }}
          {{ form_row(form.number_windows) }}
          {{ form_row(form.windows_type) }}
          {{ form_row(form.has_balcony) }}

          <legend>Wentylacja</legend>
          {{ form_row(form.ventilation_type) }}

          <p><span class="required">*</span> - pola wymagane</p>

          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary btn-large pull-right">Oblicz</button>
            </div>
          </div>
          {{ form_rest(form) }}
          {{ form_end(form) }}
    </form>
    </div>
  </div>
</div>

{% endblock %}

{% block bottom_javascripts %}
<script src="{{ asset('bundles/krakenwarm/js/apartment.js') }}"></script>
{% endblock %}
