{% extends '::base.html.twig' %}

{% block edit_button %}
    {% if isAuthor %}
        <a class="btn btn-info btn-big pull-right" href="{{ path('start', {slug: calc.slug}) }}">Edytuj informacje o budynku</a>
    {% endif %}
{% endblock %}

{% block body %}
{% set powerNeeded = calculator.necessaryStovePower %}
{% set sandCoalPowerNeeded = calculator.necessaryStovePower('sand_coal') %}

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>{{ punch.phrases.house }}</h1>
    <p class="lead">{{ punch.phrases.heating }}</p>
  </div>
</header>

<div class="container">
  <ul class="nav nav-pills">
    <li class="active"><a href="{{ url('result', {'slug': calc.slug}) }}">Bilans cieplny</a></li>
    <li><a href="{{ url('heaters', {'slug': calc.slug}) }}">Dobór grzejników</a></li>
  </ul>

  {{ block('edit_button') }}

  <div class="page-header">
    <h2>Informacje o budynku <small>{{ building.heatedHouseArea|number_format(0) }}m<sup>2</sup> do ogrzania</small></h2>
  </div>

  <div class="row" id="info">
    <div class="col-md-6">
      <div class="rank">
          <span class="class-badge {{ classifier.classString }}-class">{{ classifier.class }}</span>
          <h3>{{ classifier.classLabel }}</h3>
      </div>
      <p style="text-align:right;font-size:11px"><a href="{{ url('how_it_works') }}#klasyfikacja" target="_blank">Co to znaczy?</a></p>

      <h3>W skrócie o budynku</h3>
      <ul>
      {% for item in houseDescription %}
          <li>{{ item }}</li>
      {% endfor %}
      </ul>
      <p><strong>Lokalizacja:</strong> {{ city.name }} i okolice</p>
      <p><strong>Powierzchnia ogrzewana:</strong> {{ building.heatedHouseArea|number_format(0) }}m<sup>2</sup></p>
    </div>
    <div class="col-md-6">
      <div class="alert alert-success">
          <h4>Pokaż swój wynik innym</h4>
          {% set resultUrl = url('result', {'slug': app.request.get('slug') }) %}
          Możesz później wrócić do tej strony, przesłać komuś te wyniki<br /> lub umieścić na forum. <br />Po prostu skopiuj ten adres: <strong><a href="{{ resultUrl }}">{{ resultUrl }}</a></strong>
      </div>

      <h3>Warunki klimatyczne ({{ city.name }})</h3>
      <p>Sezon grzewczy trwa u ciebie ok. <strong>{{ heatingSeason.getSeasonLength(calc) }} dni</strong>.</p>
      <p>Średnia temperatura zewnętrzna w sezonie grzewczym to <strong>{{ heatingSeason.getAverageTemperature(calc)|number_format(2, ',', ' ') }}&deg;C</strong>.</p>
      <div id="climate_chart"></div>
    </div>
  </div>

  <div class="page-header" id="koszty">
    <h2>Koszty i efektywność ogrzewania</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
        <h3>Aktualna sytuacja</h3>
          <dl>
          {% set fuelInfoProvided = calc.fuelType and calc.fuelConsumption %}
          {% set stoveEfficiency = fuelInfoProvided ? calculator.yearlyStoveEfficiency*100 : 0 %}
          {% if calc.stovePower %}
            <dt>{{ label_success(calc.stovePower|number_format(0, ',', ' ') ~ 'kW') }}</dt>
            <dd>moc nominalna twojego kotła</dd>
            {% if calculator.isStoveOversized and (not fuelInfoProvided or stoveEfficiency < 40) %}
                <div class="alert alert-danger">
                  <h4>Zbyt duża moc kotła drenuje ci portfel</h4>
                  Przez ten zbędny zapas mocy płacisz za opał, który bez pożytku ucieka kominem.
                  <a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Co_zrobi_z_przewymiarowanym_kotem" target="_blank">Zobacz, dlaczego tak jest i jak to tanio naprawić</a>.
                </div>
            {% endif %}
          {% endif %}
            <dt>{{ calc.indoorTemperature|number_format(1, ',', ' ') }}&deg;C</dt>
            <dd>średnia temperatura w domu w ciągu zimy</dd>
          {% if fuelInfoProvided %}
            <dt>{{ calc.fuelLabel }}</dt>
            <dd>zużycie paliwa w sezonie grzewczym</dd>
          {% endif %}
          </dl>
          {% if fuelInfoProvided %}
            {% if calc.usingSolidFuel %}
                {% if stoveEfficiency < 35 %}
                  <div class="alert alert-danger">
                      <h4>Ogrzewanie rujnuje twój budżet</h4>
                      Sprawność twojej instalacji grzewczej to <strong>marne ~{{ stoveEfficiency|number_format(0, ',', ' ') }}%</strong>.
                      To znaczy, że większość pieniędzy wydanych na ogrzewanie wyrzucasz w błoto!
                      <br />Na szczęście możesz szybko i prawie za darmo zacząć oszczędzać.
                      <br /><a href="http://czysteogrzewanie.pl/jak-palic-w-piecu/jak-palic-czysto-weglem/" target="_blank">Przeczytaj, jak palić ekonomicznie i wygodnie</a>.
                  </div>
                {% elseif stoveEfficiency < 50 %}
                  <div class="alert alert-warning">
                      <h4>Sporo przepłacasz za ogrzewanie</h4>
                      Sprawność twojej instalacji grzewczej to <strong>tylko ~{{ stoveEfficiency|number_format(0, ',', ' ') }}%</strong>.
                      <br /><a href="http://czysteogrzewanie.pl/jak-palic-w-piecu/jak-palic-czysto-weglem/" target="_blank">Zobacz, jak palić ekonomicznie oraz wygodnie i zacznij oszczędzać od zaraz!</a>
                  </div>
                {% elseif stoveEfficiency < 75 %}
                  <div class="alert alert-info">
                      <h4>Ogrzewanie jest dość efektywne</h4>
                      Sprawność twojej instalacji grzewczej to <strong>~{{ stoveEfficiency|number_format(0, ',', ' ') }}%</strong>.
                  </div>
                {% elseif stoveEfficiency < 90 %}
                  <div class="alert alert-success">
                      <h4>Ogrzewanie jest bardzo efektywne</h4>
                      Sprawność twojej instalacji grzewczej to <strong>aż ~{{ stoveEfficiency|number_format(0, ',', ' ') }}%</strong>.
                  </div>
                {% endif %}
            {% else %}
                {% if stoveEfficiency < 75 %}
                  <div class="alert alert-warning">
                      <h4>Ogrzewanie jest nieefektywne</h4>
                      Sprawność twojej instalacji grzewczej to <strong>tylko ~{{ stoveEfficiency|number_format(0, ',', ' ') }}%</strong>. To mało jak na {{ calc.fuelType == 'electricity' ? 'prąd' : 'gaz' }}.
                      Być może podałeś zbyt duże aktualne zużycie energii. Jeśli grzejesz także wodę użytkową, odejmij od rachunku 10-20%.
                  </div>
                {% elseif stoveEfficiency < 110 %}
                  <div class="alert alert-success">
                      <h4>Ogrzewanie jest bardzo efektywne</h4>
                      Sprawność twojej instalacji grzewczej to <strong>aż ~{{ stoveEfficiency|number_format(0, ',', ' ') }}%</strong>. Znakomicie.
                  </div>
                {% endif %}
            {% endif %}
          {% else %}
            <div class="alert alert-danger">
                <strong>Niestety</strong> nie podałeś kosztów ogrzewania, więc nie powiemy ci nic na ten temat.
            </div>
          {% endif %}
    </div>
    <div class="col-md-6">
        <h3>Ile energii potrzeba do ogrzewania</h3>
        <dl>
          <dt>{{ label_success((calculator.maxHeatingPower/1000)|number_format(1, ',', ' ') ~ 'kW') }}</dt>
          <dd>takiej mocy grzewczej potrzebuje twój dom w największy mróz</dd>
          <dt>{{ calculator.maxHeatingPowerPerArea|number_format(0, ',', ' ') }}W/m<sup>2</sup></dt>
          <dd>wskaźnik mocy kotła względem ogrzewanego metrażu</dd>
          <dt>{{ calculator.yearlyEnergyConsumption|number_format(0, ',', ' ') }}kWh</dt>
          <dd>tyle ciepła zużyje dom w ciągu całego sezonu grzewczego</dd>
          <dt>{{ calculator.yearlyEnergyConsumptionFactor|number_format(0, ',', ' ') }}kWh/m<sup>2</sup>*rok</dt>
          <dd>zużycie roczne energii w przeliczeniu na 1m<sup>2</sup> - zalicza twój dom do klasy energetycznej&nbsp;{{ classifier.class }}</dd>
        </dl>
        <h4>W najmroźniejszy dzień zimy <small>średnia dobowa {{ heatingSeason.getLowestTemperature()|number_format(0, ',', ' ') }}&deg;C na zewnątrz</small></h4>
        <dl>
          <dt>{{ label_success((calculator.maxHeatingPower/1000)|number_format(1, ',', ' ') ~ 'kW') }}</dt>
          <dd>potrzebna moc grzewcza</dd>
        </dl>
        <h4>W przeciętny dzień zimy <small>{{ heatingSeason.getAverageTemperature()|number_format(1, ',', ' ') }}&deg;C na zewnątrz</small></h4>
        <dl>
          <dt>{{ label_success((calculator.avgHeatingPower/1000)|number_format(1, ',', ' ') ~ 'kW') }}</dt>
          <dd>potrzebna moc grzewcza</dd>
        </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Czym i za ile ogrzewać</h3>
      <p>Tyle zapłaciłbyś, gdybyś chciał całą zimę utrzym ać w mieszkaniu średnią temperaturę {{ calc.indoorTemperature|number_format(1, ',', ' ') }}&deg;C.
        Możesz założyć kufajkę i marznąć przy {{ min(16, calc.indoorTemperature-5)|number_format(1, ',', ' ') }}&deg;C, ale <a href="http://czysteogrzewanie.pl/jak-palic-w-piecu/jak-ogrzewac-by-sie-ogrzac/" target="_blank">wcale nie będzie taniej</a>.</p>
        <div id="fuel_chart"></div>
        <a class="btn btn-info btn-big pull-right" href="#custom_fuel_prices" data-toggle="modal">Zmień ceny paliw i koszt pracy</a>
        <div id="custom_fuel_prices" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Ceny paliw i koszt pracy</h3>
              </div>
              <div class="modal-body">
                <p>Poniżej możesz podać ceny paliw dostępnych w twojej okolicy oraz cenę godziny twojej pracy w kotłowni, aby otrzymać bardziej realne podsumowanie kosztów ogrzewania.</p>
                <div id="custom_fuel_prices2">
                  <form role="form">
                  <div class="form-group">
                      <label for="work_hour_cost" class="required control-label">Cena twojej pracy:</label>
                      <div class="input-group">
                          <input type="text" id="work_hour_cost" name="work_hour_cost" value="{{ pricing.defaultWorkHourPrice }}" class="form-control" />
                          <span class="input-group-addon">zł/h</span>
                      </div>
                  </div>
                      {% for fuel in fuels %}
                      <div class="form-group">
                          <label for="fuel_{{ fuel.type }}" class="required control-label">{{ fuel.name }}:</label>
                          <div class="input-group">
                                <input type="text" id="fuel_{{ fuel.type }}" name="fuel_{{ fuel.type }}" value="{{ fuel.price * fuel.tradeAmount }}" class="form-control" />
                                <span class="input-group-addon">zł/{{ fuel.tradeUnit }}</span>
                          </div>
                      </div>
                      {% endfor %}
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Zamknij</a>
                <a href="#" class="btn btn-primary" id="update_fuels">Przelicz koszty</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Źródła strat ciepła</h3>
      <div id="heat_loss_breakdown"></div>
    </div>
  </div>

  <div class="page-header" id="rady">
    <h2>Jak żyć</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Jakiej mocy kotła szukać?</h3>
      <dl>
      {% if powerNeeded > 3 %}
        <dt>{{ label_success((1.1*powerNeeded)|number_format(0, ',', ' ') ~ '-' ~ (1.25*powerNeeded)|number_format(0, ',', ' ') ~ 'kW') }} dla kotła zasypowego</dt>
        <dd>Nie kupuj kotła o dużo większej mocy,
              <a href="#" onclick="$('#big-stove-alert').toggle();return false">nawet jeśli sprzedawca, sąsiad i szwagier twierdzą inaczej</a>. Mocno za duży kocioł <a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Czym_grozi_zbyt_dua_moc_kota" target="_blank">to katastrofa finansowa</a>.
              <div class="alert alert-success" id="big-stove-alert" style="display:none">
                  <strong>~{{ powerNeeded|number_format(0, ',', ' ') }}kW</strong> to maksymalna moc grzewcza, jakiej twój dom będzie potrzebował co najwyżej w kilka(naście) najmroźniejszych dni w roku (zgodnie z normami budowlanymi, z uwzględnieniem rozsądnego zapasu mocy).
                  <br /><br />Jeśli grzejesz kotłem ciepłą wodę, dodaj jeszcze 2-3kW. Jak ognia unikaj przewymiarowania kotła o ponad 50% - jego sprawność będzie pełzać <strong>w okolicach 30%</strong>, z efektami specjalnymi w postaci smoły i gnijącego komina.
              </div>
        </dd>
        {% set automaticStovePower = calculator.suggestedAutomaticStovePower %}
        <dt>{{ label_success(automaticStovePower ~ 'kW') }} dla kotła podajnikowego</dt>
        <dd>Kotły podajnikowe posiadają nawet 30% zapasu ponad moc nominalną (potwierdzenie znajdziesz w DTR kotła), więc często nie ma potrzeby kupowania wyższego wariantu mocy, gdy potrzeby domu tylko nieznacznie przekraczają moc nominalną wariantu niższego.</dd>
        <dt>{{ label_success(sandCoalPowerNeeded|number_format(0, ',', ' ') ~ '-' ~  (1.2*sandCoalPowerNeeded)|number_format(0, ',', ' ') ~ 'kW') }} dla kotła miałowego</dt>
        <dd><a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Wyjtek_dla_kotw_miaowych" target="_blank">Kocioł miałowy dobiera się nieco inaczej</a>. Taka moc ma pojemność zasypu wystarczającą do bezobsługowej pracy przez jedną dobę, jeśli będzie rozpalany od góry (a to jedyny wygodny sposób palenia miałem).</dd>
      {% else %}
          <dt>Zapomnij o kotle węglowym</dt>
          <p>Nie istnieją kotły węglowe pracujące efektywnie z tak małą mocą.</p>
      {% endif %}
        <dt>min. {{ label_success(powerNeeded|number_format(0, ',', ' ') ~ 'kW') }} dla kotła gazowego</dt>
        <dd>Kotły gazowe pracują z dobrą sprawnością nawet na niskich mocach, ale nie ma potrzeby, abyś płacił za 30kW, czego nie wykorzystasz nawet w połowie.<br /> 
            Instalując kocioł kondensacyjny pamiętaj o takim zaprojektowaniu instalacji, <a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/#Koty_gazowe" target="_blank">aby temperatura wody nie musiała przekraczać 60&deg;C</a> - inaczej nici z kondensacji i rachunki wzrosną.</dd>
      </dl>
      {% if powerNeeded > 3 and powerNeeded <= 10 %}
          <div class="alert alert-warning">
            <h4>Co jeśli nie znajdę kotła zasypowego o tak małej mocy?</h4>
            <ul>
                <li><a href="http://czysteogrzewanie.pl/2014/05/nie-pakuj-smieciucha-do-nowego-domu" target="_blank">rozważ inne rodzaje ogrzewania</a>, np. kocioł na ekogroszek, kocioł na pellet albo gaz ziemny (będzie max. kilkaset złotych rocznie drożej, ale o wiele wygodniej)</li>
                <li><a href="http://czysteogrzewanie.pl/warsztat/instalacja-grzewcza-jak-to-sie-robi/#Bufor_ciepa" target="_blank">zainstaluj bufor ciepła</a> - wtedy odrobinę większa moc kotła nie jest problemem, wygoda i efektywność dorównują kotłom na ekogroszek, a koszty są niższe dzięki tańszemu paliwu</li>
                <li>w ostateczności bierz kocioł zasypowy o najmniejszej dostępnej mocy, lecz nie więcej jak 10-12kW</li>
            </ul>
          </div>
      {% endif %}
    </div>
    <div class="col-md-6">
      <h3>W co zainwestować, by taniej ogrzewać?</h3>
      {% set variants = upgrade.variants %}
      {% if variants %}
        <dl>
          {% for item in variants %}
          <dt>{{ label_warning(item.gain * 100 ~ '%') }} taniej</dt>
          <dd>{{ item.title|raw }}</dd>
          {% endfor %}
        </dl>
      {% else %}
      <p>Dom jest dobrze ocieplony. Za rozsądne pieniądze nic tu nie poprawisz.</p>
      {% endif %}
      {% if advice %}
        <h3>Co zrobić, by było lepiej</h3>
        <dl>
        {% for title,content in advice %}
          <dt>{{ title|raw }}</dt>
          <dd>{{ content|raw }}</dd>
        {% endfor %}
        </dl>
      {% endif %}
    </div>
  </div>

  {{ block('edit_button') }}
</div>

{% endblock %}

{% block bottom_javascripts %}
<script src="{{ asset('bundles/krakenwarm/js/vendor/highcharts.js') }}"></script>
<script src="{{ asset('bundles/krakenwarm/js/result.js') }}"></script>
{% endblock %}
